{
  "all": true,
  "reporter": ["lcov"],
  "check-coverage": true,
  "extension": [ ".js" ],
  "include": [ "dist/**/*.js" ],
  "exclude": [ "dist/index.js", "dist/_virtual/**/*.js" ],
  "branches": 20,
  "lines": 20,
  "functions": 20,
  "statements": 20
}
