{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-recommended-scss"
  ],
  "rules": {
    "max-empty-lines": 2,
    "unit-allowed-list": ["em", "rem", "%", "dpi", "dppx", "deg", "s", "vh", "vw"],
    "at-rule-empty-line-before": null,
    "declaration-empty-line-before": null
  }
}
