.brd.brd-diagram > .brd-diagram-nodes .brd-draggable-element {
  box-sizing: content-box;
  position: absolute;
  z-index: 50;

  cursor: no-drop;

  &.node-is-draggable {
    cursor: move;
    user-select: none;

    will-change: transform;
    backface-visibility: hidden;
    perspective: 1000;
  }
}
