.brd-diagram-canvas {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background: #fbfaf9;
  border: 0.07rem solid rgba(0, 0, 0, 0.2);
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;

  &:active {
    cursor: grabbing;
  }

  .brd-canvas-content {
    will-change: transform;
    backface-visibility: hidden;
    perspective: 1000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
